@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  background-color: #272727;
}

body {
  font: 100% "Montserrat", sans-serif;
  box-sizing: content-box;
  color: #909090;
}

.hidden {
  display: none;
}

header {
  background-color: #272727;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

header .logo {
  float: left;
  position: absolute;
  top: 0;
  z-index: 1;
}

header .ranking {
  background-color: white;
  margin-top: 70px;
  position: relative;
  text-transform: uppercase;
  left: 40px;
  overflow: hidden;
}

header .ranking h1 {
  text-align: center;
  color: #272727;
  padding: 5px 0;
  font-size: 30px;
}

section {
  background-color: white;
}

section .table {
  border-collapse: collapse;
  width: 100%;
}

section .table__row {
  background-color: white;
  display: block;
}

section .table__row th, section .table__row td {
  text-align: left;
  padding: 8px;
}

section .table__row .name {
  font-size: 18px;
  -webkit-margin-after: 0px;
}

section .table__row .subtitle {
  font-size: 12px;
  -webkit-margin-before: 0px;
}

section .table__row .photo {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: relative;
}

section .table__row .photo img {
  width: 120%;
  clip-path: ellipse(32px 32px at center);
  margin-left: -7px;
  margin-top: 3px;
}

section .table__row .photo .votes {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #707070;
  color: #707070;
  font-size: 14px;
  background-color: white;
  position: absolute;
  text-align: center;
  top: 77%;
  right: 0;
  font-weight: bold;
}

section .table__row:nth-child(odd) {
  background-color: white;
}

section .table__row:nth-child(even) {
  background-color: #f2f1f1;
}

section .table__row .photo {
  background-color: #ba3638;
  border: 2px solid #ba3638;
}

section .table__row .name {
  color: #ba3638;
}

section .table__row .subtitle {
  color: #909090;
}

section .table__row--modify {
  background-color: #ba3638 !important;
}

section .table__row--modify .photo {
  background-color: #f2f1f1;
  border: 2px solid #f2f1f1;
}

section .table__row--modify .name {
  color: #f2f1f1;
}

section .table__row--modify .subtitle {
  color: #330d0e;
}

section .count-votes table {
  border-radius: 5px;
  border: 1px solid #707070;
  border-spacing: 0;
  margin-left: 20px;
}

section .count-votes table thead th:last-child, section .count-votes table thead td:last-child, section .count-votes table tbody th:last-child, section .count-votes table tbody td:last-child {
  border-left: 1px solid #707070;
}

section .count-votes table tr th, section .count-votes table tr td {
  text-align: center;
  padding: 8px;
}

section .count-votes table tr th {
  background-color: #ba3638;
  color: white;
}

section .count-votes table:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
  position: absolute;
  margin-left: -6px;
}
